#form{
	width: 435%;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
#form input:focus,select:focus,textarea:focus{
	border-color: #333;
}
label{
	color: white;
}

.style6{
	color: lightgray;
}