body {
    background: linear-gradient(to right, #1e5799, #2989d8, #207cca);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
.navbar {
  padding: 15px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(57, 95, 191, 0.2);
  transition: background 0.5s, border-image 0.5s, border-radius 0.5s;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s;
  cursor: default;
}

a{
    color: red;
    text-decoration: none;
}
.staff a{
    position: relative;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.08);
    padding: 5px 40px 5px 40px;
    border-radius: 3px;
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(57, 95, 191, 0.12);
    transition: 0.5s;
}
.staff a:hover {
  background: rgba(255, 255, 255, 0.5);
}

h2,h3{
    color: #fff;
}
img{
    border-radius: 5px;
}
.staff
{
    position: relative;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(57, 95, 191, 0.04);
    padding: 10px;
    border-radius: 5px;
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(57, 95, 191, 0.12);
    transition: 0.5s;
    min-height:30vh;
} 

.staff h4
{
    padding-top:5px;
    font-weight: 700;
    font-size: 20px;
    color: #37517e;
}
        

        .glass-sidebar {
            position: fixed;
            color: white;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            left: 0px;
            top:40px;
            padding: 0px 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            z-index: 900;
            height: 100vh;
            overflow-y: auto; 
        }

        .glass-sidebar a {
            padding: 5px 40px;
            width: 100%;
            color: white;
            text-decoration: none;
            left: 0px;
            outline: none;
            text-align: center;
        }

        .glass-sidebar a:hover {
            text-decoration: none;
            color: white;
            background-color: rgba(255, 255, 255, 0.1);
        }

        .glass-sidebar .active {
            background-color: rgba(255, 255, 255, 0.1); 
            outline: none;
        }

        .glass-sidebar a:active,
        .glass-sidebar a:focus,
        .glass-sidebar a.active:focus {
            color: white;
            outline: none !important; 
        }

        .glass-sidebar .dropdown-menu:active,
        .glass-sidebar .dropdown-menu:focus,
        .glass-sidebar .dropdown-menu.active:focus {
            color: white;
            outline: none !important; 
        }

        .glass-sidebar .dropdown-menu {
            background: rgba(255, 255, 255, 0.5);
             backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 0px;
        }

        .glass-sidebar .dropdown-item {
            color: #333;
            border-radius: 0px;
             backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
        }

        .glass-sidebar .dropdown-item:hover {
            background-color: rgba(255, 255, 255, 0.3);
            color: #333;
            border-radius: 0px;
        }

        .main-content {
            margin-left: 200px; 
        }

        .sidebar-brand {
            font-size: 2rem; 
            color: white;
            margin-bottom: 20px;
        }

        .logout-link {
            color: white;
            text-decoration: none;
            cursor: pointer;
            position: absolute;
            bottom: 42px; 
            left: 0px; 
            padding: 0px 4px;
            text-align: center;
        }

        .logout-link:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }


/*table*/
